.migration-hint {
  z-index: 0;
  background: lightgray;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.migration-hint-text {
  visibility: hidden;
}

.migration-hint:hover .migration-hint-text {
  visibility: visible;
}

.migration-hint:hover {
  height: auto;
}
