name: CI
on: [ pull_request, workflow_dispatch ]
jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: mvn verify -PcheckFormat -B
    - name: Publish Unit Test Results
      id: publish
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: '**/target/surefire-reports/*.xml'
        comment_mode: off
  Examples:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'
    - name: Test Java Adapter examples
      run: mvn test -f camunda-7-adapter/example -B
    - name: Test Code Migration Detector examples
      run: mvn test -f code-migration-detector/example -B
  GoCawemoScript:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.26.0
    - name: Build Artefact
      run: go build
      working-directory: cawemo-to-web-modeler-migration
